@media (max-width: 1024px){

    /* About section */



}


@media (max-width: 991px){

    /* Custom Class*/

.text-content{
    width: 100%;
}
    /* Navbar Brand */
.navigation-wrap.navbar-brand img{
    height: 3.8125rem;
}

.navigation-wrap{
    text-align: center;
    background-color: white;
}

.navigation-wrap.nav-link{
    line-height: 1.875rem;
}
    /* Brand Design  */
    
.top-banner{
    padding: 9.375rem 0 9.375rem;
}
    
    /* Carosal Design  */
    .reviews-section .carousel-item .carousel-caption p{
        padding: 0px;
    }
}

@media (max-width:767px){

    /* Custom CSS */
h1{
    font-size: 2.8rem;
}
h2{
    font-size: 2rem;
    line-height: 2.0625rem;
}


    /* Top Bannar */

.top-banner{
    padding: 10.875rem 0 9.375rem;
}

    
    /* Story Section  */
.story-section{
    height: auto;
    padding: 3rem 0;
}
    
    
    /* Carosal Section  */
    .reviews-section .carousel-item{
        padding:11rem 3.125rem;
    }

h1{

}
       /* News Letter */

    .news-letter{
        width: 75%;
    };
    h1{

    }
    .news-letter .main-btn{
        width: 100%;
        margin-top: 1rem;
    }
    /* Footer */

    .footer .footer-link ,
     .footer a i {
        padding: 0 0.7rem;
     }
}
h1{

}
@media (max-width:330px){


        /* Carosal Section  */
        .reviews-section .carousel-item{
            padding:13rem 3.125rem;
        }
}